<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>Treasure Hikers</title>
  </head>
  <body>
    <% include ../partials/navbar %>
    <div class="fluid" id="container">
      <main role="main">
        <div class="jumbotron my-jumbotron">
          <h1 class="display-1 my-h1">Treasure Hikers</h1>
          <h4 class="display-5">Your Hiking Guide</h4>
        </div>
        <div class="container">
          <div class="row">
            <% for( let i = 0; i < trails.data.length; i++ ) { %>
            <div class="col-md-4" style="margin-bottom: 30px;">
              <div class="card" style="border-radius: 0;">
                <a
                  href="/api/trails/single-trail"
                  style="text-decoration: none; color: #000;"
                >
                  <img
                    src="<%=trails.data[i].thumbnail%>"
                    alt="..."
                    class="card-img-top"
                  />
                </a>
                <div class="card-body">
                  <h5 class="card-title"><%= trails.data[i].name %></h5>
                  <p class="card-text">
                    Trail ID: <%=trails.data[i].id %>
                  </p>
                  <a href="#" class="btn btn-success">Add to Favorites</a>
                </div>
              </div>
            </div>
            <% } %>
          </div>
          <!-- <p>pagination loop here</p> -->
        </div>
      </main>
    </div>
    <% include ../partials/footer %> <% include ../partials/scripts %>
  </body>
</html>

<!-- {
  results: 5,
  data: [
    {
      id: '1706',
      name: 'Rocky Gap (easy Loop)',
      url: 'https://www.singletracks.com/bike-trails/rocky-gap-easy-loop.html',
      length: '11.0',
      description: 'This is actually an ATV trail, however bikes are permitted. I have been on this trail twice and the only ATV I saw was the trail maintenance crew. Most guys with motors ride the north (hard ) loop. The south loop is 10 miles, plus the trail head. A couple hard climbs but well worth every drop of sweat. It seems like you go downhill more than up, even with all the gradual elevation changes. Its not really rutted up like you would think a motor trail would be, but I was very happy for the banked turns on some of the blind downhills. An added bonus for this ride is the ability to change things up if you want and jump on the many oil lease roads that traverse the loop. (GPS highly recommended for that). Also crosses an old state route that will drop you down into Chapman State Park if you wish. ',
      directions: 'Located in the Allegheny National forest. From Warren, take Route 337 south, through Pleasant Township. About 5 miles up the hill ( give or take), the trail will be on your left. Well marked recreation area, just watch for the signs.',
      city: 'Warren',
      region: 'Pennsylvania',
      country: 'UNITED STATES',
      lat: '41.79253',
      lon: '-79.22589',
      difficulty: 'intermediate',
      features: '',
      rating: '4.33',
      thumbnail: 'https://images.singletracks.com/2009/07/Rocky-Gap-South-loop-003-0-thumb.jpg'
    }, -->
